.app.light {
    --bg-color: rgb(215 215 215);
    --inverted-bg-color: rgb(1 1 144);
    --primary-color: rgb(7 41 176);
    --secondary-color: rgb(41 120 247);
    --inverted-primary-color: green;
    --inverted-secondary-color: rgb(0 222 0);
}
