:root {
    --bg-color: rgb(215 215 215);
    --inverted-bg-color: rgb(1 1 144);
    --primary-color: rgb(7 41 176);
    --secondary-color: rgb(41 120 247);
    --inverted-primary-color: rgb(81 248 81);
    --inverted-secondary-color: rgb(16 90 16);

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
